@use "../reset" as *;
@use "../typography" as *;
@use "../functions&mixins" as *;

%default {
  border: 0;
  border-radius: $border-radius-size;
}

$padding: 5%;

.contact {
  @include flexbox() {
    align-items: stretch;
  }
  width: 85%;
  margin: 10vh auto;
  padding: $padding;
  background-color: get-theme-var(fourth);
  border-radius: $border-radius-size;

  &__input {
    @include flexbox();
    @extend %default;
    margin-bottom: 1em;
    font-size: 1.2em;

    & * {
      @extend %default;
      padding: $padding;
      width: 100%;
      font-size: 1.1em;
    }

    & input,
    & textarea {
      font-size: 0.8em;
      background-color: get-theme-var(fifth);
      color: get-theme-var(font);
      padding: $padding;

      &::placeholder {
        color: get-theme-var(font);
      }
    }

    & > textarea {
      resize: none;
    }
  }

  &__send_button {
    @extend %default;
    display: block;
    margin: auto;
    padding: $padding;
    font-family: $font-pacifico-regular;
    font-size: 1.2em;
  }
}
