@use "./functions&mixins" as *;
@use "./typography" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-lato-regular;
  font-weight: $weight-400;
  letter-spacing: 0.75px;
}

// variables
$border-radius-size: 20px;
$maximum-width-of-a-section: 60vw;

// media queries
$media-s: 550px;
$media-m: 720px;
$media-l: 1000px;

// navbar/logo sizes
$logo-font-size: 1.5em;
$navbar-height: $logo-font-size * 2.75;

// anim speed
$seconds-per-viewport: calc(1s / 80vw);

// colors - dark theme default
$theme: (
  "third": #657326,
  "fourth": #2c471f,
  "fifth": #4b6039,
  "font": #d9d9d9,
  "background": #262626,
  "background2": #1a1a1a,
);

// Writing css variables for theming
:root {
  // imports dark theme
  @include create-css-variables($theme);

  // imports light-theme
  @media (prefers-color-scheme: light) {
    $theme: create-light-theme($theme);
    @include create-css-variables($theme);
  }
}

// applying boilerplate color theming
body {
  background-color: get-theme-var(background);
  color: get-theme-var(font);
  overflow-x: hidden;
}

*:any-link {
  color: get-theme-var(font);
}
